@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <div>
        <p>Don't you have an account?</p>
        <a asp-controller="Users" asp-action="Register" type="button" class="btn btn-primary">Register</a>
    </div>
    <p>  </p>
    <div>
    <p>Already have an account?</p>
        <a asp-controller="Users" asp-action="Login" type="button" class="btn btn-primary">Login</a>
    </div>
</div>
